DB_URL=
DB_USER=
DB_PASSWORD=

FRONTEND_URL=https://frontend.url.com

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_FOLDER_PREFIX=dev

JWT_SECRET=change-me-to-a-random-secret-of-at-least-32-chars
JWT_DURATION=2592000

AES_SECRET_KEY=u6V+pZ9fN2xSjK8L9mQw4rT7yU1vI3xO5pA7sD9fG2h=
# Enlace para generar claves https://fperles.com/generador-de-claves/
