DB_URL=
DB_USER=
DB_PASSWORD=

FRONTEND_URL=https://frontend.url.com

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_FOLDER_PREFIX=dev

JWT_SECRET=change-me-to-a-random-secret-of-at-least-32-chars
JWT_DURATION=2592000

AES_SECRET_KEY=VICV&EZWVr"G8e2s+Xmg}bOy^&VK6gV+
# Usarse la misma clave AES en desarrollo y producción para evitar problemas de descifrado al migrar datos entre entornos.
STRIPE_SECRET_KEY=sk_test_valor_secreto
STRIPE_WEBHOOK_SECRET = whsec_fake_secret