spring:
  application:
    name: DondeSiempre
  profiles:
    active: ${SPRING_PROFILE:dev}
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
