spring:
  application:
    name: DondeSiempre
  profiles:
    active: ${SPRING_PROFILE:dev}
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
