name: Deploy to Azure Web App

env:
  DOCKERHUB_IMAGE: emilio116/dondesiempre-backend

on:
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Azure webhook
        run: |
          curl -X POST "${{ secrets.AZURE_WEBHOOK_URL }}"
