name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  spotless:
    name: Run Spotless Lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Run Spotless check
        run: ./mvnw --batch-mode spotless:check
